*{
  font-family:'Courier New', Courier, monospace;
}
.Login, .Timer, .admin-Timer{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.Login, .Timer{
  min-height:100vh;
}
.admin-Timer{
  padding:10px;
}
.box{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:3rem;
  border: 1px solid black;
  border-radius: 10px;
}
input, select, button{
  font-size: 13pt;
  font-weight:bold;
  border-radius:10px;
  border-width: 1px;
  margin-bottom: 10px;
  margin-right:5px;
  padding: 5px;
  background-color:white;
}
input:hover, select:hover, button:hover{
  filter:brightness(80%);
  transition-duration:0.5s;
}
.Timer .time{
  font-size: clamp(24px, 8vw, 64px);
}
.admin-Timer .time{
  font-size: clamp(12px, 4vw, 32px);
}
.button-logout{
  position:fixed;
  top:0.5em;
  right:0.5em;
}
.stop-button-enable, .stop-button-disable{
  padding:0.5em;
  font-size:16pt;
}
.stop-button-enable{
  background-color:white;
}
.stop-button-enable:hover, .stop-button-enable:active{
  transition:0s;
}
.stop-button-disable, .stop-button-disable:hover{
  background-color:white;
  filter:none;
  transition:0s;
}
.menu{
  position: fixed;
  top: 0.5em;
  right: 6.5em;
}
.menu button{
  margin:2px;
}
.button-logout-1{
  margin:2px;
}
.options{
  display:flex;
  column-gap:3px;
}
.save-race{
  margin-top:10px;
}
input[type="checkbox"]{
  vertical-align:middle;
}
.genders{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}
.genders div{
  min-width:48vw;
}
table, th, td{
  border:solid 1px black;
  border-collapse:collapse;
  text-align:center;
}
td, th{
  padding:5px;
}
.timers{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-items:stretch;
  gap: 10px;
  max-height:100vh;
}
.timers div{
  border: solid 1px black;
  flex: 1 0 auto;
}
.timer-options{
  margin-bottom:15px;
  gap: 5px;
  display:flex;
}
.entries{
  display:flex;
  flex-wrap:wrap;
  gap: 10px;
  justify-content:space-evenly;
}
.entries div{
  display:flex;
  flex-direction:column;
  align-items:center;
  border:solid 1px black;
  flex: 1 0 auto;
}